body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }
  
  #container {
    text-align: center;
    margin-top: 50px;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    margin: 5px;
  }
  
  .score {
    font-size: 24px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3498db; /* Changed from #4CAF50 to #3498db for blue color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9; /* Changed from #45a049 to #2980b9 for hover color */
}
  
  .dice {
    width: 120px;
    height: 120px;
    margin: 20px;
  }
  